[submodule "cpp/abseil_example/abseil-cpp"]
	path = cpp/abseil_example/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "Python/pybind11/third_party/pybind11"]
	path = Python/pybind11/third_party/pybind11
	url = https://github.com/pybind/pybind11
[submodule "Python/pybind11/third_party/abseil-cpp"]
	path = Python/pybind11/third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
